In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.decomposition import PCA

1) part

In [2]:
column_names = [
    "symboling", "normalized_losses", "make", "fuel_type", "aspiration",
    "num_doors", "body_style", "drive_wheels", "engine_location", "wheel_base",
    "length", "width", "height", "curb_weight", "engine_type", "num_cylinders",
    "engine_size", "fuel_system", "bore", "stroke", "compression_ratio",
    "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"
]

In [3]:
df_cars = pd.read_csv("imports-85.csv", header=None, names=column_names, na_values="?")
print("Step 1: Dataset loaded from 'imports-85.csv'.")

Step 1: Dataset loaded from 'imports-85.csv'.

In [4]:
df_cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

2) part

In [5]:
df_cars.dropna(subset=['price'], inplace=True)

for col in df_cars.columns:
    if df_cars[col].dtype == 'object':
        df_cars[col].fillna(df_cars[col].mode()[0], inplace=True)
    else:
        df_cars[col].fillna(df_cars[col].median(), inplace=True)

/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].mode()[0], inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].mode()[0], inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].mode()[0], inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/2814983986.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cars[col].fillna(df_cars[col].median(), inplace=True)

In [6]:
df_cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

3) part

In [7]:
num_map = {'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'eight': 8, 'twelve': 12}
df_cars['num_doors'] = df_cars['num_doors'].replace(num_map)
df_cars['num_cylinders'] = df_cars['num_cylinders'].replace(num_map)

/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/3399664849.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cars['num_doors'] = df_cars['num_doors'].replace(num_map)
/var/folders/vp/mhbkf2gs397d1pq5hhxflp6h0000gn/T/ipykernel_35235/3399664849.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cars['num_cylinders'] = df_cars['num_cylinders'].replace(num_map)

In [8]:
df_cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,115.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,115.0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,115.0,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,4,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,4,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [9]:
df_cars = pd.get_dummies(df_cars, columns=['body_style', 'drive_wheels'], drop_first=True)

label_cols = ['make', 'aspiration', 'engine_location', 'fuel_type']

In [10]:
for col in label_cols:
    le = LabelEncoder()
    df_cars[col] = le.fit_transform(df_cars[col])

In [11]:
df_cars['fuel_system'] = np.where(df_cars['fuel_system'].str.contains('pfi'), 1, 0)
df_cars['engine_type'] = np.where(df_cars['engine_type'].str.contains('ohc'), 1, 0)

In [12]:
df_cars.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,peak_rpm,city_mpg,highway_mpg,price,body_style_hardtop,body_style_hatchback,body_style_sedan,body_style_wagon,drive_wheels_fwd,drive_wheels_rwd
0,3,115.0,0,1,0,2,0,88.6,168.8,64.1,...,5000.0,21,27,13495.0,False,False,False,False,False,True
1,3,115.0,0,1,0,2,0,88.6,168.8,64.1,...,5000.0,21,27,16500.0,False,False,False,False,False,True
2,1,115.0,0,1,0,2,0,94.5,171.2,65.5,...,5000.0,19,26,16500.0,False,True,False,False,False,True
3,2,164.0,1,1,0,4,0,99.8,176.6,66.2,...,5500.0,24,30,13950.0,False,False,True,False,True,False
4,2,164.0,1,1,0,4,0,99.4,176.6,66.4,...,5500.0,18,22,17450.0,False,False,True,False,False,False

4) part

In [13]:
y = df_cars['price']
X = df_cars.drop('price', axis=1)
X = X.apply(pd.to_numeric) 

scaler_q3 = StandardScaler()
X_scaled = scaler_q3.fit_transform(X)
print("Step 4: Data divided and scaled.")

Step 4: Data divided and scaled.

5) part

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

model_full = LinearRegression()
model_full.fit(X_train, y_train)
score_full = model_full.score(X_test, y_test)
print(f"\nStep 5: Model performance on ALL features: R2 Score = {score_full:.4f}")

Step 5: Model performance on ALL features: R2 Score = 0.8734

6) part

In [15]:
pca = PCA(n_components=0.95)
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)

print(f"\nOriginal number of features: {X_train.shape[1]}")
print(f"Number of features after PCA: {X_train_pca.shape[1]}")

model_pca = LinearRegression()
model_pca.fit(X_train_pca, y_train)
score_pca = model_pca.score(X_test_pca, y_test)
print(f"Step 6: Model performance on PCA-reduced features: R2 Score = {score_pca:.4f}")

if score_pca > score_full:
    print("\nConclusion: Yes, PCA led to a slight performance improvement!")
else:
    print("\nConclusion: No, PCA did not improve performance, but it simplified the model.")

Original number of features: 29
Number of features after PCA: 16
Step 6: Model performance on PCA-reduced features: R2 Score = 0.8550

Conclusion: No, PCA did not improve performance, but it simplified the model.